/.metadata/

.settings
bin
RemoteSystemsTempFiles
target
.classpath
.project
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_13.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_10.xml
/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_20_Final.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_5_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/gestion.scolarite.iml
/.idea/.gitignore
